doctype html

html
  head
    title= title

    link(rel='stylesheet', href='/vendor/normalize-css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/real-time.js')

  body
    block content
